.resaltado{
  color: #A82FFC !important;
  border: 2px solid #A82FFC;
  border-radius: 5px;
}
.resaltado:hover{
  color: #fff;
  background-color: #fff;
  border: 2px solid #fff;
}
.btn-toppublic{
  background-color: #A82FFC;
  color: #fff;
}
.btn-toppublic:hover{
  background-color: #8c27d2;
  color: #fff;
}
.card img{
  max-height: 200px;
  object-fit: cover;
}
.definitions{
  text-decoration: underline;
  text-decoration-color: #A82FFC;
}
#header img{
  width: 150px;
}
#header{
    background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}
#main .carousel-inner img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#carousel{
  position: relative;
}
#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#carousel .overlay .container,
#carousel .overlay .row{
  height: 100%;
}
#place-date{
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  color: #fff;
}
#place-date img{
  max-width: 100%;
}
#footer{
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}
#footer a{
  color: #999;
  text-decoration: none;
}
#footer a:hover{
  color: #fff;
}
#footer img{
  max-width: 20px;
}
